
<table style="">
  <tbody>
    <tr>
      <td role="counter"><%= @entities.count - @done %></td>
      <td></td>
      <td><% if params[:article] %><a href="/">[x]</a><% end %></td>
    </tr>
    <% @entities.each do |entity| %>
      <% next if entity.done? %>
      <tr>
        <td><%= entity.english %></td>
        <td><%= check_box_tag entity.done_article, 1, entity.done_article, data: { id: entity.id, role: 'done_article' } %></td>
        <td><a href="?article=<%= entity.article %>"><%= entity.article %></a></td>
        <td><%= check_box_tag entity.done_german, 1, entity.done_german, data: { id: entity.id, role: 'done_german' } %></td>
        <td><%= entity.german %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_entity_path %>
