<a href="/phrases_de/noun">Noun (<%= Phrase.noun %>)</a>
<a href="/phrases_de/verb" style="margin-left: 30px;">Verb (<%= Phrase.verb %>)</a>
<a href="/phrases_de/mixed" style="margin-left: 30px;">Mixed (<%= Phrase.mixed %>)</a>
<a href="/phrases_de/capital" style="margin-left: 30px;">Capital (<%= Phrase.capital %>)</a>
<a href="/phrases_de/question" style="margin-left: 30px;">Question (<%= Phrase.question %>)</a>
<a href="/phrases_de/action" style="margin-left: 30px;">Action (<%= Phrase.action %>)</a>
<a href="/phrases_de/sentence" style="margin-left: 30px;">Sentence (<%= Phrase.sentence %>)</a>
<a href="/phrases_de/skip" style="margin-left: 30px;">Skip (<%= Phrase.skip %>)</a>

<br>
<br>

<% if params[:category] %>

<table>
  <tbody>
  <% @entities.take(Phrase::TAKE).each do |entity| %>
    <tr>
      <td>
        <input type="checkbox" name="similar_phrase" data-id="<%= entity.id %>">
        <%= without_article(entity.german, params[:category]) %>
      </td>
      <% answers = (@dictionary - [entity.english]).shuffle.take(Phrase::ANSWERS - 1) << entity.english %>
      <% answers.shuffle.each do |answer| %>
        <td>
          <label title="<%= answer %>">
            <input type="checkbox" name="article" role="<%= 'correct' if entity.english == answer %>">
            <%= without_article(answer.truncate(Phrase::TRUNCATE), params[:category]) %>
          </label>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<% end %>