<!DOCTYPE html>
<html>
  <head>
    <title>Word</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/">Dictionary</a>
    <a href="/articles" style="margin-left: 20px;">Articles</a>
    <a href="/words" style="margin-left: 20px;">Words</a>
    <br>
    <br>
    <%= yield %>
  </body>
</html>
