<!DOCTYPE html>
<html>
  <head>
    <title>Word</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/">Dictionary (<span role=counter><%= @done %></span>)</a>
    <a href="/phrases_en" style="margin-left: 30px;">Pharases [EN]</a>
    <a href="/phrases_de" style="margin-left: 30px;">Pharases [DE]</a>
    <a href="/words" style="margin-left: 30px;">Words [EN]</a>
    <a href="/words_de" style="margin-left: 30px;">Words [DE]</a>
    <a href="/articles" style="margin-left: 30px;">Articles (<%= @article %>)</a>

    <br>
    <br>
    <%= yield %>
  </body>

  <style>
      td {
          padding: 0 5px 0px;
      }
  </style>
</html>
